<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main.css" />
    <link
      rel="shortcut icon"
      href="../static/images/education.png"
      type="image/x-icon"
    />
    <title>Login</title>
  </head>
  <body>
    <div class="login-wrapper">
      <div class="login-container">
        <h2>Login</h2>
        <form method="POST">
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Enter your password"
            required
          />
          <button type="submit">Login</button>
          <center>
            {% with messages = get_flashed_messages(with_categories=true) %} {%
            if messages %} {% for category, message in messages %}
            <p class="error-message">{{ message }}</p>
            {% endfor %} {% endif %} {% endwith %}
          </center>
        </form>
      </div>
    </div>
  </body>
</html>
